<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Google authenticator code</title>
</head>
<body>
<form name="f" th:action="@{/verify}" th:object="${verifyDto}" method="POST">

    <p th:if="${param.error}" class="errormsg">There was an error, please try again</p>

    <fieldset>
        <legend>Please enter code</legend>
        <input type="hidden" th:field="*{userId}"/>
        <table>
            <tr>
                <td><label for="totpkey">Authenticator Code</label></td>
                <td><input type="text" id="totpkey" th:field="*{code}" name="totpkey" /></td>
            </tr>
        </table>

        <div>
            <button type="submit">Log in</button>
        </div>
    </fieldset>
</form>
</body>
</html>